/*Reset Css*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");


/*Elememnts*/
@import url("csslibraries/horizontal-line.css");
@import url("csslibraries/log.css");
@import url("csslibraries/now-showing.css");
@import url("csslibraries/go-live.css");
@import url("csslibraries/input.css");
@import url("csslibraries/navbar.css");
@import url("csslibraries/content.css");
@import url("csslibraries/header.css");
@import url("csslibraries/animate.css");
@import url("csslibraries/media.css");
@import url("csslibraries/video.css");
@import url("csslibraries/pannel.css");
@import url("csslibraries/programs.css");
@import url("csslibraries/footer.css");
/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch|Comfortaa|El+Messiri|Libre+Barcode+39+Extended+Text|Nanum+Myeongjo|Overpass+Mono|Sofia|Song+Myung");

@font-face {
    font-family: "Akashi";
    src: url("../fonts/akashi/akashi.ttf");
    src: 
    url("../fonts/akashi/akashi-webfont.woff") format("woff"),
    url("../fonts/akashi/akashi-webfont.woff2") format("woff2"),
    }

h2{
    font-family: Chakra Petch;
    font-weight: bold;
    font-size: 2em;
}
h3{
    font-family: Chakra Petch;
    font-weight: bold;
    font-size: 1.3em;
}

body{
    padding: 1em;
}

body *{
    padding: 0.2em;
}
b{
    font-weight: bold;
}

.full-log{
    display: flex;
    align-content: center;
    width: 100%;
}

hr{
    padding: 0px;
}

:root{
    --our-texture:url("../images/texture.png");
    --foreground:#F24130;
    --background:#3091F2;
    --accent1:#ffd648;
    --accent2:#fffff;
    --neutral:#292D32;
   }

   body *:hover{
    -webkit-transform:translate3d(0,0,0);
   }

   a{
        text-decoration: none;
        color:#c5d32c;
   }

   a:hover{
       color: #0dc2b9ee;
   }