.go-live{
    border-radius: 4px;
    background: white;
    width: fit-content;
    width: 40%;
    display: inline-block;
    height: 35px;
    margin: 6px;
    position: relative;
    left: 55%;
    
}

.go-live:hover{
    background: #fc9c17;
    cursor: pointer;
    box-shadow: 0px 0px 11px black;
}

.go-live *{
    vertical-align: middle;
}

.go-live.button img{
    width: 1.5em;
   
}

.go-live p{
    display: inline !important;
}