
.header.padding{
display:none;
position: relative;
z-index: unset;
}

.header.padding *{
visibility: hidden;
}

@media screen and (max-width: 600px){
    .header.padding{
        display:block;
        }
        .header {
            position: fixed;
            z-index: 102;
            background: var(--neutral);
            width: 100%;
        }
       
            .header.hide>div>.log{
                display: none !important;
              }
        
}