.form-control{
    border-radius: .10rem;
    color: #5dcae8;
    font-family: Chakra Petch;
    border-color: var(--background);
    font-weight: bold;
}



.form-control::placeholder { color: #5dcae89d;}

.form-control:focus, input:focus{
    outline: none !important;
    box-shadow: 0 0 0 0.0rem rgba(0,123,255,.25); 
}
.btn{
    border-radius: 0.12em;
    padding: 0.595rem 0.95rem;
    width: fit-content;
    margin: 0 -6em;
    background: #3bbdc0;
    font-weight: bold;
    color: #FFFFFF;
    font-weight: bold;
}

.btn.border {
    border: 1px solid white !important;
}

textarea{
    font-family:Nanum Myeongjo !important;
    color: black;
}