.log {
display: inline-block;
    width:fit-content;
}

.next-media{
    background: url('../../images/nextmedia.png');
    background-position: center center;
   background-repeat: no-repeat;
    background-size: contain;

}

.sanyuka{
    background: url('../../images/sanyuka.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.log img{
    visibility: hidden;
    height:6em;
}
/*
.no-background{
    background-color: unset;
}

.align-top{
    vertical-align: top;
} */

@media screen and (max-width: 600px){
    .log img{
        visibility: hidden;
        height:3em;
    }
}