.media-modal{
    width:300px;
    margin: 14px 0px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 1px 1px 7px 1px  rgba(106, 109, 255, 0.377); 
}

.media-info{
    font-size: 1.2em;
    margin: 0px !important;
}
.next-media-images{
    width: 100%;
    display: block;
}
.next-media-images img{
    width: 100px;
    padding:  0px;
    margin: 0px 15px;
    display: inline;
}


.social-media i{
    font-size: 3.0em;
}
@media (max-width:600px){
    .media-modal{
        width: 100%;
        
    }
    .media-modal p{
   font-size: 1.2em;
    }

    .next-media-images img{
        float: left;
        width: 100px;
        padding:  0px;
        margin: 0px 0px;
        display: inline;
    }
}