.nav-bar{
  background: rgba(216, 68, 63, 0.918);
  background-blend-mode:  overlay;
  display: none;
  position:  fixed;
  width: 100%;
  height:100%;
  right:0px;
  top:0px;

  z-index: 3;
  user-select:  none;
}

.nav-button{
  position: fixed;
  display: inline-block;
  z-index: 10;
  color:#0f5092;
  right: 31px;
  top: 35px;
}

.nav-bar div img{
  width: 3em;
}

.nav-bar div{
  text-align: right;
  width: 100%;
 
}
.nav-bar>div>i{
  font-size: 2.4em;
  margin: 0em 0.5em;
  color: white;
  right:3.8em;
  top:0.2em;
  position: relative;
}
.nav-bar ul{
  color: white;
  margin: 0em 3em;
}

.nav-bar ul li{
  padding: 1.3em 0em;
  transition: 0.4s;
}

.nav-bar ul li:hover{
	cursor: pointer;
	color: #0dc2b9ee;
  }
.nav-bar>ul>li>ul{
	display: none;
}



@media screen and (min-width: 700px){
  .nav-bar ul  li{
	padding: 0em 01em;
	font-size: 1.3em;
	display: inline-block;
  }
  .nav-button{
    display: none !important;
  }
  .nav-bar{
	height: fit-content; 
	display: inline-block;
  width: fit-content;
  position: absolute;
	
  }

  .nav-bar div i{
	display: none;
  }

  .nav-bar div{
	display: inline-block;
	width: 90%;
  }

  .nav-bar{
	background: unset;
	color:  #c5d32c;
  }
  .nav-bar>ul{
  margin-top:3em;
  padding:0px;
  }
.nav-bar ul{
	color:  #c5d32c;
}
  ul.dropdown-content{
	position: absolute;
	width: 100px;
	display: inline-block;
	left:-30px;
}

ul.dropdown-content li{
	margin:15px  0px 5px 0px ;
	padding: 5px  15px; 
}


}