.showing-now{
    background: #f66223e0;
    width: 28%;
    position: fixed;
    padding: 0px;
    display: inline-block;
    bottom: 20px;
    right: 7px;
    transition: 1s;
}

.showing-now .header{
    display:inline-block;
    width: 100%;
    background: #628cac;
    margin: 0px;
    padding: 0px;
}

.showing-now .header *{
    color: white;
    padding: 7px;
}

.showing-now .header h4{
    float: left;
    font-weight: bold;
}

body > div.showing-now > div.program h5{
    font-weight: bold;
    font-size: 2em;
    color:  rgba(255, 255, 255, 0.863);

}
.showing-now .header p{
    float: right;

}
body > div.showing-now > div.details p{
    color:  #1668a2;
    font-size: 1.5em;
}

@media screen and (max-width: 800px){
    .showing-now{
       position: relative;
       width: 100%
    }
}
@media screen and (max-width: 600px){
    body > div.showing-now > div.details{
        display: none;
    }

    .showing-now{
        position: fixed;
        left: 0px;
        width: 100%;  
        height: unset;
        bottom: 0px;  
    }

    .showing-now .header{
        position: relative !important;
        font-size: 1.2em;
    }

    
body > div.showing-now > div.program h5{
    font-size: 1.5em;
}
}