.panel{  
        display: inline-block;
        width:fit-content;
        max-width: 72%;
        vertical-align: top;
}
div.panel.more-info-panel{
   width:25%;
}

h2{
    color:  rgb(235, 41, 43);
}
@media (max-width:600px){
    .panel{  
        margin:3em 0px;
        display: block;
        max-width:unset;
        width: 100%;
}
div.panel.more-info-panel{
    width:100%;
 }

}