.programs-lineup{

}

.programs-lineup .program{
    display: flex;
}

.programs-lineup .program>div:first-of-type{
    width: 70%;
}

.programs-lineup .program:first-of-type{
    width: 100%;
}

.programs-lineup .program:nth-of-type(2){
    width: 70%;
}

.programs-lineup .program:nth-of-type(3){
    width: 50%;
}

.program img{
    width: 100%;
}

.programs-live,.live-video.modal{
  float: left;
}

.live-video.modal{

}

.cureent-live p
{
    font-size: 1.2em;
}

.programs-live{

}

