.video-container *{
    padding: 0px;
    margin: 0px;
   
}

.video-container{
   
    padding: 0px !important;
    /* margin: 8px !important; */
    display:inline-flex;
    /* background: blue; */
    justify-content:  center;
    align-items:center;
    width:295px;
}

.video{
    width: 100%;
}

.c-video{
    height: 100%;
    /*max-width: 800px;*/
    position: relative;
    overflow: hidden;
}
.c-video:hover .controls{
    transform: translatey(0%);
}

.controls{
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    flex-wrap:  wrap;
    background: #3bbec088;
    transform: translateY(100%) translateY(-10%);
    transition: 0.5s;
    transition-timing-function:  ease-out; 
}

.vid-buttons .button{
 background: none;
 border: 0;
 outline: 0px;
 cursor: pointer;
 padding: 3px 4px !important;
}

.vid-buttons .play-pause{
    content: '\f144'; 
    font-family:FontAwesome;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.5em;
    color:white;
    -webkit-font-smoothing: antialiased;
}

.vid-buttons .play:before{
    content: '\f144'; 
}

.vid-buttons .pause:before{
    content: '\f28b'; 
}
.live-video.modal>.video-container>.c-video>.controls.vid-buttons>.vid-buttons>.pause:before{
    content: '\f2d' !important; 
}

.vid-buttons .back:before{
    content: '\f04a'; 
    font-size: 0.9em;
    font-family:FontAwesome;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.5em;
    color:white;
    -webkit-font-smoothing: antialiased;
}

.vid-bar{
    height: 5px;
    top:0px;
    left:0px;
    width: 100%;
    background: black;
}

.vid-progress{
    height: 5px;
    width: 30px;
    background-color:orangered;
}


/* f28d */
/*live */
.live-video.modal{
    width: 50% !important;
}

.live-video.modal>.video-container{
    width:100%;
}
body > div.content > div.programs-live{
    width: 49%;
}
body > div.content > div.programs-live > div.share{
    width: 100%;
}

body > div.content > div.programs-live > div.share > p.hashtags{
    font-weight: bold;
    font-size: 2em;
}

body > div.content > div.programs-live > div.share{
  
}
body > div.content > div.programs-live > div.share > div.share-buttons{
    display: flex;
}
body > div.content > div.programs-live > div.share > div.share-buttons > div.btn{
    display: inline;
    width: fit-content;
    margin:4px !important;
}
@media (max-width:600px){
    .video-container{
        margin: 9px 0px !important;
        width: 100%;
        margin:0px 4em;
    }

    .live-video.modal{
        width: 100% !important;
    }
    body > div.content > div.programs-live {
        width: 100%;
    }
}